#inputs-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input:not([type="checkbox"]) {
	width: 45%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;

    color: #FFF8E7;
    background-color: #1d1822;
}
input:not([type="checkbox"]):first-child {
    margin-right: 10px;
}

#checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    font-size: 16px;
}