html.red-light-mode,
html.red-light-mode body {
    color: black;
    background-color: #800000;
}

html.red-light-mode .container,
html.red-light-mode .content,
html.red-light-mode nav {
    background-color: #800000 !important;
}

html.red-light-mode .active {
    background-color: #800000 !important;
    border: black 1px solid !important;
    margin: 5px !important;
    border-radius: 5px !important;
}

html.red-light-mode button,
html.red-light-mode button[type="submit"],
html.red-light-mode #submit-button,
html.red-light-mode #current-location-button,
html.red-light-mode #install_button,
html.red-light-mode #red_light_button {
    background-color: #800000 !important;
    border: black 1px solid !important;
    color: black !important;
}

html.red-light-mode input,
html.red-light-mode select,
html.red-light-mode textarea {
    background-color: #800000 !important;
    border: black 1px solid !important;
    color: black !important;
}

html.red-light-mode input::placeholder,
html.red-light-mode textarea::placeholder {
    color: black !important;
}

html.red-light-mode input::-webkit-outer-spin-button,
html.red-light-mode input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html.red-light-mode input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

html.red-light-mode input[type=checkbox] {
    accent-color: #800000;
    outline: black 1px solid;
    width: 1em;
    height: 1em;
}

html.red-light-mode input[type="checkbox"]:not(:checked) {
    appearance: none;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    background-color: #800000;
    border-radius: 3px;
}

html.red-light-mode hr {
    display: none;
}

html.red-light-mode nav {
    color: black !important;
    border-right: 1px solid black;
}

html.red-light-mode nav > ul > li > a,
html.red-light-mode a {
    color: black !important;
}

html.red-light-mode .page-item {
    border: black 1px solid !important;
}